
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Index</h2>
<p>Welcome to Admin Page</p>

<div>
    @Html.ActionLink("Back Home Page", "Index","Home")
</div>

